$pink : #FFA3A3;
$teal: #1BBDBD;
$blue: #5E65FF;

.players {
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.players--name::placeholder {
    color: white;
}

.players--name {
    text-align: center;
    background: url("/images/pencil.svg") no-repeat 160px 10px;
    background-size: 25px 25px;
    background-color: #474747;
}

.name__img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.name {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name__player {
    display: flex;
    align-items: center;
}

.name__player1 {
    color: $teal
}

.name__player2 {
    color: $pink
}

.score {
    color: $blue;
    margin-top: 10px;
}