table {
    border-collapse: collapse;
    margin: 50px auto;

}

table, tr, td {
    border: 2px solid #474747;
}

td {
    width: 25px;
    height: 25px;
}

.cross {
    background-image: url("/images/Cross.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.naught {
    background-image: url("/images/Naught.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

