$blue: #5E65FF;
$teal: #1BBDBD;
$pink : #FFA3A3;

table {
    border-collapse: collapse;
    margin: 10px auto 40px auto;

}

table, tr, td {
    border: 2px solid #474747;
}

td {
    width: 25px;
    height: 25px;
}

.cross {
    background-image: url("/images/Cross.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.naught {
    background-image: url("/images/Naught.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.win_message {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.win_message_tie {
    color: $blue;
}

.win_message_player1 {
    color: $teal;
}

.win_message_player2 {
    color: $pink;
}