$blue: #5E65FF;

.game {
    background-image: url("/images/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.time {
    margin-top: 150px;
    color: $blue;
    text-align: center;
}

.time__clock {
    font-size: 40px;
}
.time__unlimited {
    font-size: 24px;
}

.time__limited {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time__left {
    margin-right: 10px;
}


.play-again {
    text-decoration: none;
    color: $blue;
    margin-right: 10px;
    font-size: 24px;
    &:hover, &:focus {
        opacity: 0.8;
    }
}

.play-again--rewind {
    height: 20px;
    width: auto;
    margin-left: 10px;
}