.home {
    background-image: url("/images/HomeBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.config__form {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
}


.title {
    color: #2830FF;
    font-size: 24px;
    text-align: center;
    margin-top: 140px;
    font-weight: 400;
}

select {
    appearance: none;
    text-indent: 30%;
    background: url("/images/TriangleDownArrow.svg") no-repeat 170px 15px #ddd;
    background-size: 15px 10px;
}

select.grid {
    text-indent: 20%
}
.players--name, .time__selection, .grid {
    background-color: #474747;
    border: none;
    width: 200px;
    height: 40px;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 5px;
}

.grid {
    background-color: #FFA09E;
    margin: 40px 0;
}

.start {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 90px;
    background-color: #FFCC18;
    margin-top: 50px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: -1px -1px 1px 0 #DBDBDB,    
                2px 1px 2px 0 #9c9c9c;
}