// $orange: #ffaa51;
// $orange: #FFCC18;
// $orange: #ffcc74;
// $orange: #ffc78c;
$orange: #ffb465;

.home {
    background-image: url("/images/HomeBackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.config__form {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
}

.config__text {
    font-size: 10px;
    text-transform: uppercase;
    color:#6d6d6d;
    visibility: hidden;
    display: flex;
    justify-content: center;
}

.title {
    color: #2830FF;
    font-size: 24px;
    text-align: center;
    margin-top: 140px;
    font-weight: 400;
}

select {
    appearance: none;
    text-indent: 28%;
    background: url("/images/TriangleDownArrow.svg") no-repeat 170px 15px #ddd;
    background-size: 15px 10px;
}

select.grid {
    text-indent: 25%
}
.players--name, .time__selection, .grid {
    background-color: #474747;
    border: none;
    width: 200px;
    height: 40px;
    color: white;
    font-family: Roboto;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 5px;
    &:hover, &:focus {
        opacity: 0.9;
    }
}

.config__select {
    &:hover, &:focus {
        .config__text {
            visibility: visible;
        }
    }
}

.grid {
    background-color: #FFA09E;
    margin-top: 40px;
}

.config__players {
    margin-top: 40px;
}

.start {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 90px;
    background-color: $orange;
    margin-top: 80px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    &:hover, &:focus {
        opacity: 0.9;
    }
}